<footer class="py-5" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav class="mb-3">
          <h5>{{ site.data.place.name }} By-laws</h5>

          <ul>
            <li><a href="/">By-laws</a></li>
            <li><a href="{{ site.data.place.website_url }}">{{ site.data.place.name }} website</a></li>
          </ul>

          <p>
          <img src="/img/municipalities/{{ site.data.place.code }}-logo.png" class="place-logo" style="max-width: 150px">
        </nav>
      </div>

      <div class="col-md-6">
        <nav class="mb-3">
          <h5>&nbsp;</h5>

          <ul>
            <li>
              The by-laws are published through a partnership between {{ site.data.place.name }} Municipality and
              <a href="https://openup.org.za">OpenUp</a>.
            </li>
            <li class="text-right">
              <a href="https://openup.org.za"><img src="/img/openup-logo.svg" style="max-width: 150px"></a>
            </li>
          </ul>
        </nav>
      </div>

    </div>

    <hr class="my-3">

    <div class="row">
      <div class="col-sm-9">
        Legislation digitised by <a href="https://laws.africa">Laws.Africa</a> and licensed under a
        <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a>.
      </div>
      <div class="col-sm-3 text-right">
        <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">
          <img alt="Creative Commons License" src="https://licensebuttons.net/l/by/3.0/88x31.png" style="border-width:0">
        </a>
      </div>
    </div>

  </div>
</footer>
