<header id="header" class="microsite-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-1" role="navigation">

    <div class="container">
      <a class="navbar-brand mr-5" href="/">
        <img class="microsite-region-logo" src="/img/municipalities/{{ site.data.place.code }}-logo.png">
        <div class="microsite-region-name">{{ site.data.place.name }} By-laws</div>
      </a>

      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="/search.html" class="form-inline ml-auto mr-3 my-2 my-lg-0" method="get" role="search">
          <input aria-label="Search" class="form-control" name="q" placeholder="Search" type="text">
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="text-white" href="{{ site.data.place.website_url }}">{{ site.data.place.name }} website →</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</header>
